:root {
  font-size: 16px;
  box-sizing: border-box;

  --main-bg: hsl(250deg, 10%, 12%);
  --layout-bg: hsla(242deg, 9%, 19%, 0.59);
  --border-color: hsla(250deg, 10%, 12%, 0.6);
  --border-light: hsla(250deg, 10%, 12%, 0.4);
  --online: hsl(133deg, 55%, 32%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  color: white;
  font-family: Inter, sans-serif;
}

html,
body {
  height: 100dvh;
}

#root {
  height: 100%;
}
